:root {
    --main-bg-color: black;
  }

@keyframes blinker {
    50% {
      opacity: 0;
    }
}

/* start header/navbar styling */

#top  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--main-bg-color);
    border-bottom: .5vw solid white;
}

#header, #title-section {
    margin: 10px 0 10px 0%;
    padding: 0;
}

#title-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 45%;
    border-right: .25vw solid white;
    font-size: 3vw;
    text-align: center;
}

#header {
    width: 40%;
    border-left: .25vw solid white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


#socials {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
    width: 15%;
    padding: .5%;
    background-color: var(--main-bg-color);
}

#socials a {
    width: 17%;
    margin: 1%;
}

#socials a:hover {
    opacity: .8;
}

#logo-img {
    width: 20%
}

#logo-img:hover {
    opacity: .8;
}

#title {
    width: 80%;
    letter-spacing: 5px;
}

.header-menu {
	font-size: 2vw;
    letter-spacing: 3px;
    width: 20%;
    text-align: center;
}

/* end header/navbar styling */

/* start about section styling */

#about {
    padding: 30px;
    text-align:center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#about-text-desktop {
    width: 60%;
    margin-left: 2.5%;
    margin-right:2.5%
}

#about-gif {
    width: 30%;
}

/* end about section styling */


/* start team section styling */

#team-members {
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.team-member {
	width: 29%;
	margin: 2%;
	margin-bottom: 0 !important;
	margin-top: 0 !important;
	text-align: center;
}

.team-member img {
	/* border: 3px solid white;
	background-color: grey; */
	width: 60%;
	margin: 10px;
}

/* end team section styling */

#bottom-socials a {
    width: 4vw;
    height: 4vw;
}


@media screen and (max-width: 991px) {
    /* start header-navbar styling */

    #top {
        display: initial;
    }

    .w-container {
        width: 90%;
    }

    #title-section {
        width: 100%;
        border-right: none;
        border-bottom: 5px solid white;
        font-size: 4vh;
        background-color: var(--main-bg-color);
        margin-top: 0;
        margin-bottom: 0;
    }

    #logo-img {
        width: 20%
    }
    
    #title {
        width: 70%;
        letter-spacing: 3px;
    }

    #header {
        width: 100%;
        border-left: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: var(--main-bg-color);
        margin: 0;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .header-menu {
        font-size: 2.5vh;
    }

    #mobile-wallet-connect-div {
        background-color:black;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 5px solid white;
    }

    /* end header/navbar styling */

    /* start about section styling */

    #about {
        display: block;
    }
    
    #about-text-mobile {
        width: 95%;
        margin-left: 2.5%;
        margin-right:2.5%
    }
    
    #about-gif {
        width: 100%;
    }

    /* end about section styling */

    /* start team section styling */

	.team-member {
		width: 95%;
		margin: 0%;
        padding-bottom: 4%;
	}

    /* end team section styling */


    p {
        padding: 20px;
        margin: 0;
        font-size: 20px;
    }

    .section-title {
        font-size: 3vh;
        text-align: center;
    }

    .body-heading {
        text-align: center;
        margin: 0;
        margin-top: 10px;
    }

    #bottom-socials a {
        width: 7vh;
        height: 7vh;
    }

}