@font-face {
	font-family: 'Pixel';
	src: URL('../css/Connection-arMJ.otf') format('truetype');
}

/*@font-face {  */
/*	font-family: 'Block';*/
/*	src: URL('../css/block.ttf') format('truetype');*/
/*}  */

html, body {
	overscroll-behavior: none;
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: "VT323", sans-serif;
}

.hidden {
	display: none;
}

h1, h2 {
	letter-spacing: 5px;
}

h1 {
	/*font-family: "Block";*/
	/* color: #F5CD03 !important; */
	/*color: #b89326;*/
	font-size: 2.5vw !important;
}

h2 {
	margin-top: 10px;
	margin-bottom: 10px;
}

h3 {
	font-size: 1.5vw !important;
	line-height: 1.5vw !important;
	margin: .5vw !important;
}

p {
	font-family: "Pixel", sans-serif;
	text-align: justify;
	font-size: 1.4vw !important;
	line-height: 1.7vw !important;
	text-shadow: 2px 2px black;
}

#account {
	/*position: absolute;*/
	display: inline;
	text-align: center;
	font-size: 1.25rem;
    /*top: 1vw;*/
    /*right: 1vw;*/
	/*font-size: 1.3vw;*/
	/*letter-spacing: 3px;*/
  }


.body {
	/* background-image: url(../images/bg.png); */
	font-family: "VT323", sans-serif;
	background-color: black;
	/*font-family: 'Block', sans-serif;*/
	background-size: auto;
	background-repeat: repeat;
	color: white;
}

.header {
	padding-top: 40px;
	padding-bottom: 40px
}

.body-text {
	font-size: 33px;
	line-height: 33px;
	text-align: left;
	/*font-family: 'Pixel';*/
}

.hide-on-desktop {
	display: none !important;
}

.section {
	padding-top: 50px;
	padding-bottom: 50px !important;
	background-position: 0 0;
	background-size: 500px

}

.banner img {
	object-fit:cover;
	z-index: -5;
}

.section.footer {
	padding-top: 10px;
	padding-bottom: 10px;
	background-position: 100% 50%;
	background-size: cover;
	background-repeat: no-repeat;
}

.footer .link {
	transition: transform ease 300ms;
}

.footer .link:hover {
  transform: translate(0, -5px);
  opacity: .8;
}

.footer-section {
	margin: auto;
	padding: 5px;
	width: 100%;
	text-align: center;
}

.center-div {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 50px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center
}

.button {
	/* background-color: #D5A61E; */
	background-color: #b89326;
	color: white;
	font-size: 1.25rem;
	padding: .5vw;
	/*font-family: 'Block';*/
    /*border: .5vw solid white;*/
	border-radius: 2px;
}

.link {
	color: white;
	text-decoration: none
}

.button:hover {
	background-color: #ecd590;
}

.link:hover {
	color: #f8c83a;
}

.active {
	color: #D5A61E;
}

.section-title{
	font-size:  2.3vw;
	text-align: center;
}

h2 {
	font-size:  1.9vw;
	line-height:  1.9vw;
}

h4 {
	font-size:  1.4vw;
	line-height:  1.8vw;
}

h5 {
	font-size:  1vw !important;
	line-height:  1.3vw !important;
}

.banner-img {
	width: 100%;
}

#pending-transactions {
    text-align: center;
    min-width: 20%;
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 99999999;
  }
  
.loading-div {
    cursor: pointer;
    width: 100%;
    text-decoration: none;
    height: 5%;
	background-color: black;
    border: solid white .3vw;
    color: white;
    font-size: 1.2vw;
    line-height: 1.5vw;
    padding: 20px;
    text-align: center;
}

.etherscan-link {
    text-decoration: none;
}

#error-popup, #status-popup {
	background-color: black;
    z-index: 99999;
    position:fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 53vw;
    height: 35vh;
    border: solid .3vw white;
    border-radius: .2em;
    text-align: center;
    box-shadow: 0 0 5000px 5000px rgba(0,0,0,0.88);
}

#error-popup p, #status-popup p {
    width: 95%;
    font-size: 3vw !important;
    line-height: 3vw !important;
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
}

.blinking {
    animation: blinker 1.6s linear infinite;
}

.success {
    background-color: rgb(49, 219, 49) !important;
	color: black !important;
}

.failure {
    background-color: #F72119 !important;
}

#block-screen, #block-screen-error, #block-screen-status, #block-screen-approval, #block-screen-loading {
    z-index: 9998;
    width: 100vw;
    opacity: 0;
    position: absolute;
    top: 0;
}

.mint-container {
	text-align: center;
}

.fixed-banner{
	position:fixed;
    bottom:0;
    z-index: -1;
}

.box {
	border-style: solid;
	border-color: white;
    border-bottom: .3vw solid white;
	border-radius: 2px;
	border-width: .3vw;
	padding: 20px;
	background-color: black;
	/* background-color: rgba(95, 92, 92, 0.336); */
}

.box2 {
	background-color: rgba(48, 46, 46, 0.336);
}

.box3 {
	background-color: black;
	padding: 50px;
	border-style: solid;
	border-color: white;
	border-radius: 2px;
	min-height: 60vh;
}


@media screen and (max-width: 1000px) {

	#roadmap, #team, #inner-roadmap, #faq {
		padding: 5px;
	}

	.footer-section {
		margin: auto;
		padding: 5px;
		width: 100%;
		text-align: center;
	}
}

@media screen and (max-width:991px) {

	.box {
		border-width: 5px;
	}

    .section-title {
        font-size: 3vh;
        text-align: center;
    }

	#title h2 {
		font-size: 3.4vh !important;
		line-height: 3.4vh !important;
		letter-spacing: 3px !important;
	}

	h2 {
		font-size:  3.4vh;
		line-height: 3.4vh;
	}

	h3 {
		font-size:  2.4vh !important;
		line-height:  2.9vh !important;
	}

	h4 {
		font-size:  2vh;
		line-height:  2.4vh;
	}

	h5 {
		font-size:  1.8vh !important;
		line-height:  2vh !important;
	}

	#amount-controller {
		padding: 0 !important;
	}

	/*.button {*/
		/*font-size: 2.3vh;*/
		/*line-height: 2.3vh;*/
		/*padding: 5px;*/
		/*min-height: 10vh !important;*/
	/*}*/

	p {
		font-size: 2.8vh !important;
		line-height: 2.8vh !important;
		margin: 0 !important;
		padding: 10px !important;
	}

	.hide-on-mobile {
        display: none !important;
    }

	.hide-on-desktop {
		display: block !important;
	}

	/*#mobile-account {*/
	/*	width:90%;*/
	/*  }*/

	.header {
		padding-top: 10px;
		padding-right: 40px;
		padding-left: 40px
	}

	.header-menu {
		font-size: 2.5vh;
		margin: 5px;
	}

	.box3 {
		margin-top: 15vh;
		width: 100%;
		position: relative;
		background-color: rgba(95, 92, 92, 0.336);
		padding: 50px;
		min-height: 40vh;
	}

	#pending-transactions {
        min-width: 85%;
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translate(-50%, 0);
      }
    
      .loading-div {
        font-size: 4vw !important;
        line-height: 4.6vw !important;
      }

    #error-popup, #status-popup {
        width: 75vw;
        height: 15vh;
        border: 5px solid white;
    }

    #error-popup p, #status-popup p {
        font-size: 4vw !important;
        line-height: 4.4vw !important;
		width: 80%;
    }

	h1 {
		font-size: 5.5vh !important;
		line-height: 5.5vh !important;
	}

}

@media screen and (max-width:767px) {
	.header {
		padding-right: 20px;
		padding-left: 20px
	}
}

@media screen and (max-width:479px) {
	.header {
		padding-bottom: 20px
	}
}

#about {
	z-index: 4;
}